
.row_about_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content{
    flex: 0 0 auto;
    width: 75%;
    background: #F5F5F5;    border-radius: 35px;
    cursor: pointer;
    margin: 25px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}
.about_image{
    flex: 1;
    padding: 15px;
    width: 30%;
    height: 40%;
    display: flex;
    padding-right: 80px;
}
.about_txt{
flex: 5;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/julia-zolotova-M_xIaxQE3Ms-unsplash.jpg');  
    background-repeat: no-repeat;  
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh; 
    width: 100%;     
}

p{
    font-size: 25px;
    color: #2E7D32;
}
h2{
    font-size: 60px;
    font-weight: lighter;
    font-style: italic;
    color:  #F57C00;
}