body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;

}


.external_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.img_card{
    text-align: center;
    margin: 10%;

}

.external_articles_title {
    flex: 1;
}

.external_articles_links {
    flex: 2;
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

.link1,
.link2,
.link3 {
    flex:1;
    text-align: center;
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.link_img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
}



.img_label{
    position: absolute;
    bottom: 0;
    margin: 0;
    background: #fff;
    text-align: center;
    color: #333;
    width: 100%;
    left: 0;
    padding: 4px 8px;
    box-sizing: border-box;
    display: block;
}

.img_label>p{
    margin-bottom: 0px;
}

.img_label>h2{
    margin-bottom: 0px;
}

.img_card {
    position: relative;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box; 

}

.single_img{
    display: none;
}

@media screen and (max-width: 890px) {
    .external_articles_links {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .link1, .link2, .link3 {
        width: 90%; 
        margin-bottom: 10px;
    }

    .link_img {
        width: 100%;
        height: auto;
    }
    .img_label {
        width: 100%;
        height: auto;
    }

    #myCarousel{
        display: none;
    }
    .single_img{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

}