body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;

}

.nav{
position: sticky;
background-color: black;
text-align: center;
height: 50px;
display: block !important;
}
.nav > a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin: 0 15px;
}
.footer{
    bottom: 0;
    background-color: black;
    text-align: center;
    height: 50px;
    color: white;
    padding: 10px;
}

