body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;

}

.nav{
position: sticky;
background-color: black;
text-align: center;
height: 50px;
display: block ;

}
.nav > a {
    color: white;
    text-decoration: none;
    line-height: 50px;
    margin: 0 15px;
}
.footer{
    bottom: 0;
    background-color: black;
    text-align: center;
    height: 50px;
    color: white;
    padding: 10px;
}

.burger-menu {
    display: none;
    position: sticky;
    top: 0;
    background-color: black;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1001;
}

.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: black;
    flex-direction: column;
    z-index: 1000;
    /* transform: translateY(-100%);
    transition: transform 0.3s ease; */
}


  @media (max-width: 890px) {
    .nav {
        display: none !important;
    }

    .burger-menu {
        display: flex;
    }

    .mobile-nav {
        display: flex;
    }
      
  }
  /* .nav.active {
    display: flex;
  } */
